*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.alert {
    width: 440px;
    text-align: center;
    max-height: 100%;
    left: 37%;
    top:-600px;
    border: 2px solid rgb(128, 128, 128);
    display: block;
}

.btn-close {
    outline: none !important;
    box-shadow: none !important;
}
.container {
    margin: 0 auto;
    width: 300px;
    padding-top: 350px;
}

button {
    border: none;
    color: #ffff;
    border-radius: 15px;
}

.show {
    width: 440px;
    text-align: center;
    left: 37%;
    top: 15%;
    border: rgb(128, 128, 128) solid 2px;
    border-radius: 15px;
    padding: 10px 15px;
    display: block;
    background: #ffff;
}
